{% load staticfiles %}
<html>

<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{%	static 'css/blog.css' %}">
<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet"	type="text/css">
<title>Ezgi'nin Blogu</title>
</head>

<body>

<div class="page-header">
	<h1><a href="/"> Ezgi'nin Blogu </a></h1>
</div>
<div class="content container">
	<div class="row">
		<div class="col-md-B">
			<table>
{% for post in posts %}
<tr>
		<td>
<div	class="post">														
	<div class="date">{{	post.yayinlanma_tarihi	}}																								</div>																								 
	<h1><a	href="">{{	post.baslik	}}</a></h1>																								
	<p>{{	post.yazi|linebreaks	}}</p>																			
</div>	
</td>
	</tr>															
{%	endfor	%}
</table>
   </div>
  </div>
 </div>

</body>


</html>

