<html>

<head>

<title>Ezgi'nin Blogu</title>
</head>

<body>
<div>
	<h1>Ezgi'nin Blogu</h1>
</div>
<div>
	<p>published:26.02.2017</p>
	<h2><a href="">İlk Blogum</a></h2>
	<p>Çok	heyecanlıyım!Bu	benim ilk blogum. Ne kadar zevkli bir işmiş	bilgisayarlarla	uğraşmak. Artık	bilgi sayar	başından	kalkmam.</p>
</div>
<div>
	<p>published:26.02.2017</p>
	<h2><a href="">İkinci Blogum</a></h2>
	<p>Çok	heyecanlıyım!Bu	benim ilk blogum. Ne kadar zevkli bir işmiş	bilgisayarlarla	uğraşmak. Artık	bilgi sayar	başından	kalkmam.</p>
</div>
</body>


</html>

